@page
@model ApplicationsModel
@{
    ViewData["Title"] = "Student Application Forms";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Title</th>
            <th scope="col">Application Form</th>
            <th scope="col">State</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Uchenna Okafor</th>
            <td>I was sick</td>
            <td>I was making my way downtown, walking around and then I got home sick. .....</td>
            <td>
                <span class="badge badge-success">Open</span>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm">
                    Open
                </button>
            </td>
        </tr>

        <tr>
            <th scope="row">John Doe</th>
            <td>I ran away from home</td>
            <td>I can't submit my homework because I ran away from home</td>
            <td>
                <span class="badge badge-secondary">Closed</span>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm">
                    Open
                </button>
            </td>
        </tr>

        <tr>
            <th scope="row">Tom Illford</th>
            <td>My dog ate my homework</td>
            <td>My dog is a very good boy, but on one sunday evening, the fire nation attacked.</td>
            <td>
                <span class="badge badge-secondary">Closed</span>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm">
                    Open
                </button>
            </td>
        </tr>
    </tbody>
</table>