@page
@model ApplicationsModel
@using MitigatingCircumstances.Models.Enum;

@{
    ViewData["Title"] = "Student Application Forms";
}

@if (!Model.ExtensionRequests.Any())
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <strong>Holy guacamole!</strong> No student has created and assigned an extension request to you yet. Just hold on tight.
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Title</th>
                <th scope="col">Application Form</th>
                <th scope="col">State</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var extensionRequest in Model.ExtensionRequests)
            {
                <tr>
                    <th scope="row">@extensionRequest.StudentCreatedBy.Fullname</th>
                    <td>@extensionRequest.Title</td>
                    <td>@extensionRequest.Description</td>
                    <td>
                        @switch (extensionRequest.Status)
                        {
                            case ExtensionRequestStatus.Open:
                                <span class="badge badge-info">Open</span>
                                break;

                            case ExtensionRequestStatus.Approved:
                                <span class="badge badge-success">Approved</span>
                                break;

                            case ExtensionRequestStatus.Rejected:
                                <span class="badge badge-danger">Rejected</span>
                                break;

                            case ExtensionRequestStatus.Closed:
                                <span class="badge badge-secondary">Closed</span>
                                break;
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm">
                            Open
                            <i class="fas fa-external-link-alt"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}