@page
@model ApplicationsModel
@{
    ViewData["Title"] = "Student Application Forms";
}

@if (!Model.ExtensionRequests.Any())
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <strong>Holy guacamole!</strong> No student has created and assigned an extension request to you yet. Just hold on tight.
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Title</th>
                <th scope="col">Application Form</th>
                <th scope="col">State</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var extensionRequest in Model.ExtensionRequests)
            {
                <tr>
                    <th scope="row">@extensionRequest.StudentCreatedBy.Fullname</th>
                    <td>@extensionRequest.Title</td>
                    <td>@extensionRequest.Description</td>
                    <td>
                        <span class="badge badge-success">Open</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">
                            Open
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}