@page
@model ReviewExtensionModel
@{
    ViewData["Title"] = "Create Extension Request";
}

<div class="row justify-content-center">
    @if (Model.ExtensionRequest == null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            Sorry, the item you're looking for cannot be found.
        </div>
    }
    else
    {
        <div class="col-sm-12 col-xs-12 col-md-10 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Review extension request</h5>
                    <div class="form-group">
                        <h6>Title</h6>
                        <p>@Model.ExtensionRequest.Title</p>
                    </div>

                    <div class="form-group">
                        <h6>Description</h6>
                        <p> @Model.ExtensionRequest.Description</p>
                    </div>

                    <div class="form-group">
                        <h6>Uploaded documents</h6>
                        <ul>
                            @foreach (var document in Model.ExtensionRequest.UploadedDocuments)
                            {
                                <li><a href="@document.MediaLink">@document.Name</a></li>
                            }
                        </ul>
                    </div>

                    <div>
                        <h5>Status</h5>
                        <hr />
                        <div class="form-group">
                            <button class="btn btn-success ">
                                Approve
                                <i class="fas fa-check"></i>
                            </button>

                            <button class="btn btn-danger">
                                Reject
                                <i class="fas fa-times"></i>
                            </button>

                            <button class="btn btn-secondary">
                                Close
                                <i class="fas fa-door-closed"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>