@page
@model ApplicationsModel
@{
    ViewData["Title"] = "Applications";
}

@if (! Model.ExtensionRequests.Any())
{
    <p>Empty</p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Application Form</th>
            <th scope="col">Tutor</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>I've had enough</td>
            <td>This is where the mitigating circumstance request goes</td>
            <td>Gernot Libechen</td>
            <td>
                <span class="badge badge-info">Open</span>
            </td>
            <td>
                <button type="button" class="btn btn-info btn-sm">
                    Open
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <i class="far fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>

        @foreach (var extensionRequest in Model.ExtensionRequests)
        {
            <tr>
                <td>@extensionRequest.Title</td>
                <td>@extensionRequest.Description</td>
                <td>@extensionRequest.TutorAssignedTo.Fullname</td>
                <td>
                    <span class="badge badge-info">Open</span>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm">
                        Open
                    </button>
                    <button type="button" class="btn btn-info btn-sm">
                        <i class="far fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary float-right" asp-page="./CreateApplications">Create new</a>