@page
@model CreateApplicationsModel
@{
    ViewData["Title"] = "CreateApplications";
}

<form method="post" asp-action="" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Input.Title"></label>
        <input asp-for="Input.Title" type="text" class="form-control">
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Message"></label>
        <textarea class="form-control" asp-for="Input.Message" rows="4"></textarea>
        <span asp-validation-for="Input.Message" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ChosenTutor"></label>
        <select asp-for="Input.ChosenTutor" asp-items="@Model.AvailableTutors" class="form-control col-4">
            <option value="">Select a tutor</option>
        </select>
        <span asp-validation-for="Input.ChosenTutor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Files"></label>
        <input asp-for="Input.Files" type="file" class="form-control-file" multiple>
        <span asp-validation-for="Input.Files" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}