@page
@model CreateExtensionRequestModel
@{
    ViewData["Title"] = "Create Extension Request";
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-xs-12 col-md-10 col-lg-7">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Create extension request</h5>
                <form id="createExtensionRequestForm" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Input.Title"></label>
                        <input asp-for="Input.Title" type="text" class="form-control">
                        <span asp-validation-for="Input.Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Description"></label>
                        <textarea class="form-control" asp-for="Input.Description" rows="4"></textarea>
                        <span asp-validation-for="Input.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.ChosenTutorId"></label>
                        <select asp-for="Input.ChosenTutorId" asp-items="@Model.AvailableTutors" class="form-control col-4">
                            <option value="">Select a tutor</option>
                        </select>
                        <span asp-validation-for="Input.ChosenTutorId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.UploadedFiles"></label>
                        <input asp-for="Input.UploadedFiles" type="file" class="form-control-file" multiple>
                        <span asp-validation-for="Input.UploadedFiles" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right">
                            Submit
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div id="formUserFeedback" v-cloak>
            <div v-if="request.loading" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <div v-if="request.successful" class="alert alert-success alert-dismissible fade show" role="alert">
                Your extension request titled <strong>{{request.title}}</strong> has been created successfully
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div v-else class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> There was an error creating your extension request {{request.errorMsg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(() => {
            var app = new Vue({
                el: '#formUserFeedback',
                data: {                   
                    request: {
                        loading: false,
                        successful: false,
                        title: "undefined",
                        errorMsg: "undefined"
                    }
                }
            });

            let form = $("#createExtensionRequestForm")[0];

            $(form).on("submit", e => {
                e.preventDefault();
                
                if (! app.request.loading && $(form).valid()) {
                    var formData = new FormData($(form));

                    $.ajax({
                        type: "POST",
                        url: "/api/extension_request/create",
                        processData: false,
                        contentType: false,
                        async: false,
                        cache: false,
                        data: formData,
                        beforeSend: xhr => {
                            app.request.loading = true;
                        },
                        success: (r, xhr) => {
                            app.request.loading = false;
                            app.request.successful = true;
                            app.request.title = $("#Input_Title").val();
                        },
                        error: (xhr, textStatus, errorThrown) => {
                            app.request.loading = false;
                            app.request.successful = false;
                            app.request.errorMsg = textStatus;
                        }
                    });

                    $(form).reset();
                }              
            });
        });   
    </script>
}