<div class="jumbotron">
    <h1 class="display-4">SupportHub</h1>
    <p class="lead">Welcome, to our online student wellbeing portal. </p>
    <hr class="my-4">
    <p>Create and track your applications here.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Create application</a>
</div>