@using Microsoft.AspNetCore.Identity
@using MitigatingCircumstances.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2 pointer" data-toggle="dropdown">
                Hi, @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Profile</a>

                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="navbar-right">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link dropdown-item">Logout</button>
                </form>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
        </li>
    </ul>
}