@using Microsoft.AspNetCore.Identity
@using MitigatingCircumstances.Models
@using MitigatingCircumstances.Models.Static
@using MitigatingCircumstances.Repositories.Interface

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject INotificationRepository NotificationRepository

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    @if (SignInManager.IsSignedIn(User))
    {
        var appUser = await UserManager.GetUserAsync(User);
        var notifications = NotificationRepository.GetUnreadNotificationsForUser(appUser.Id);

        <ul class="nav navbar-nav mr-auto">
            @if (User.IsInRole(Roles.Tutor))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Tutor/Applications">
                        Student applications
                    </a>
                </li>
            }
            else if (User.IsInRole(Roles.Student))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Student/Applications">My applications</a>
                </li>
            }
        </ul>

        <ul class="nav navbar-nav ml-auto  justify-content-end">
            <li class="nav-item dropdown notification-badge">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge badge-primary">@notifications?.Count</span>
                </a>
                <div class="dropdown-menu notification-menu scrollable-notification-menu" aria-labelledby="navbarDropdown">
                    <h6 class="dropdown-header text-center">Notifications</h6>
                    <div class="dropdown-divider"></div>
                    @foreach (var notification in notifications)
                    {
                        <button class="dropdown-item" type="button">@notification.Text</button>
                    }
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2 pointer" data-toggle="dropdown">
                    Hi, @appUser.Firstname
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Profile</a>

                    <div class="dropdown-divider"></div>
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="navbar-right">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link dropdown-item">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
            </li>
        </ul>
    }
</div>