@using MitigatingCircumstances.Models

@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)">
        <a asp-page="./Index">Profile</a>
    </li>

    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)">
        <a asp-page="./PersonalData">Personal data</a>
    </li>
</ul>