@{
    ViewData["Title"] = "Create Applications";
}

<form method="post" asp-action="">
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Placeholder">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Mitigating Circumstance</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Assigned tutor</label>
        <select class="form-control col-4" id="exampleFormControlSelect1">
            <option>Tutor 1</option>
            <option>Tutor 2</option>
            <option>Tutor 3</option>
            <option>Tutor 4</option>
            <option>Tutor 5</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Supporting evidence</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
    </div>

    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>